<a href="https://colab.research.google.com/github/GunduSriBhanu/SriBhanu_DATA606/blob/main/src/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Exploratory Data Analysis

## Data Loading

### Converting raw data to .csv files for analysis and merging
The datasets are in the form of raw data and hence the data is converted to the .csv files for access of data and analysis.

In [2]:
import urllib.request as urllib
import numpy as np

url_cleaveland = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
raw_data = urllib.urlopen(url_cleaveland)
with open('heart_disease_cleaveland_processed.csv', 'wb') as file:
    file.write(raw_data.read())

url_hungarian = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data"
raw_data = urllib.urlopen(url_hungarian)
with open('heart_disease_hungarian_processed.csv', 'wb') as file:
    file.write(raw_data.read())

url_switzerland = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data"
raw_data = urllib.urlopen(url_switzerland)
with open('heart_disease_switzerland_processed.csv', 'wb') as file:
    file.write(raw_data.read())

### Loading Datasets 
Columns are added to all the datasets based on the information from the webiste "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease" mentioned from the year 1984.

In [3]:
heart_labels = ['age','sex','chest_pain_type','resting blood pressure','cholestoral','fasting_blood_sugar','ekg_results','max_hr','exercise_angina','ST_depression','slope_of_st','vessels','thallium','heart_disease']
hf = pd.read_csv("heart_disease_hungarian_processed.csv", names= heart_labels)
cf = pd.read_csv("heart_disease_cleaveland_processed.csv", names= heart_labels)
sf = pd.read_csv("heart_disease_switzerland_processed.csv", names= heart_labels)

### Hungarian Data of top and bottom 5 rows
Top 5 rows

In [4]:
hf.head()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

Bottom 5 rows

In [5]:
hf.tail()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
289,52,1,4,160,331,0,0,94,1,2.5,?,?,?,1
290,54,0,3,130,294,0,1,100,1,0.0,2,?,?,1
291,56,1,4,155,342,1,0,150,1,3.0,2,?,?,1
292,58,0,2,180,393,0,0,110,1,1.0,2,?,7,1
293,65,1,4,130,275,0,1,115,1,1.0,2,?,?,1

### Cleaveland Data of top and bottom 5 rows

Top 5 rows

In [6]:
cf.head()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

Bottom 5 rows

In [7]:
cf.tail()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

### Switzerland Data top and bottom 5 rows
Top 5 rows

In [8]:
sf.head()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
0,32,1,1,95,0,?,0,127,0,.7,1,?,?,1
1,34,1,4,115,0,?,?,154,0,.2,1,?,?,1
2,35,1,4,?,0,?,0,130,1,?,?,?,7,3
3,36,1,4,110,0,?,0,125,1,1,2,?,6,1
4,38,0,4,105,0,?,0,166,0,2.8,1,?,?,2

Bottom 5 rows

In [9]:
sf.tail()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
118,70,1,4,115,0,0,1,92,1,0,2,?,7,1
119,70,1,4,140,0,1,0,157,1,2,2,?,7,3
120,72,1,3,160,0,?,2,114,0,1.6,2,2,?,0
121,73,0,3,160,0,0,1,121,0,0,1,?,3,1
122,74,1,2,145,0,?,1,123,0,1.3,1,?,?,1

### Hungarian Data

In [10]:
#Features in the Dataset Heart Disease dataset
hf.columns

Index(['age', 'sex', 'chest_pain_type', 'resting blood pressure',
       'cholestoral', 'fasting_blood_sugar', 'ekg_results', 'max_hr',
       'exercise_angina', 'ST_depression', 'slope_of_st', 'vessels',
       'thallium', 'heart_disease'],
      dtype='object')

In [11]:
#Shape of the dataset
hf.shape

(294, 14)

In [12]:
#info of data types
hf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     294 non-null    int64
 1   sex                     294 non-null    int64
 2   chest_pain_type         294 non-null    int64
 3   resting blood pressure  294 non-null    object
 4   cholestoral             294 non-null    object
 5   fasting_blood_sugar     294 non-null    object
 6   ekg_results             294 non-null    object
 7   max_hr                  294 non-null    object
 8   exercise_angina         294 non-null    object
 9   ST_depression           294 non-null    float64
 10  slope_of_st             294 non-null    object
 11  vessels                 294 non-null    object
 12  thallium                294 non-null    object
 13  heart_disease           294 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.3+ KB

### Printing Uniques values from all the columns.

In [13]:
print("age of the Hungarian dataset:\n", hf['age'].unique())
print("\n sex of the Hungarian dataset:\n", hf['sex'].unique())
print("\n chest_pain_type of the Hungarian dataset:\n", hf['chest_pain_type'].unique())
print("\n resting blood pressure of the Hungarian dataset:\n", hf['resting blood pressure'].unique())
print("\n cholestoral of the Hungarian dataset:\n", hf['cholestoral'].unique())
print("\n fasting_blood_sugar of the Hungarian dataset:\n", hf['fasting_blood_sugar'].unique())
print("\n ekg_results of the Hungarian dataset:\n", hf['ekg_results'].unique())
print("\n max_hr of the Hungarian dataset:\n", hf['max_hr'].unique())
print("\n exercise_angina of the Hungarian dataset:\n", hf['exercise_angina'].unique())
print("\n ST_depression of the Hungarian dataset:\n", hf['ST_depression'].unique())
print("\n slope_of_st of the Hungarian dataset:\n", hf['slope_of_st'].unique())
print("\n vessels of the Hungarian dataset:\n", hf['vessels'].unique())
print("\n heart_disease of the Hungarian dataset:\n", hf['heart_disease'].unique())
print("\n thallium of the Hungarian dataset:\n", hf['thallium'].unique())

age of the Hungarian dataset:
 [28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 65 66]

 sex of the Hungarian dataset:
 [1 0]

 chest_pain_type of the Hungarian dataset:
 [2 1 3 4]

 resting blood pressure of the Hungarian dataset:
 ['130' '120' '140' '170' '100' '105' '110' '125' '150' '98' '112' '145'
 '190' '160' '115' '142' '180' '132' '135' '?' '108' '124' '113' '122'
 '92' '118' '106' '200' '138' '136' '128' '155']

 cholestoral of the Hungarian dataset:
 ['132' '243' '?' '237' '219' '198' '225' '254' '298' '161' '214' '220'
 '160' '167' '308' '264' '166' '340' '209' '260' '211' '173' '283' '194'
 '223' '315' '275' '297' '292' '182' '200' '204' '241' '339' '147' '273'
 '307' '289' '215' '281' '250' '184' '245' '291' '295' '269' '196' '268'
 '228' '358' '201' '249' '266' '186' '207' '218' '412' '224' '238' '230'
 '163' '240' '280' '257' '263' '276' '284' '195' '227' '253' '187' '202'
 '328' '168' '216' '129' '190' '188' '179' '210' '272' '180' '100' '259'
 '468' '274' '320' '221' '309' '312' '171' '208' '246' '305' '217' '365'
 '344' '394' '256' '326' '277' '270' '229' '85' '347' '251' '222' '287'
 '318' '213' '294' '193' '271' '156' '267' '282' '117' '466' '247' '226'
 '265' '206' '288' '303' '338' '248' '306' '529' '392' '231' '329' '355'
 '233' '242' '603' '255' '172' '175' '290' '341' '234' '342' '404' '518'
 '285' '279' '388' '164' '336' '491' '205' '212' '331' '393']

 fasting_blood_sugar of the Hungarian dataset:
 ['0' '?' '1']

 ekg_results of the Hungarian dataset:
 ['2' '0' '1' '?']

 max_hr of the Hungarian dataset:
 ['185' '160' '170' '150' '165' '184' '155' '190' '168' '180' '178' '172'
 '130' '142' '98' '158' '129' '146' '145' '120' '106' '132' '140' '138'
 '167' '188' '144' '137' '136' '152' '175' '176' '118' '154' '115' '135'
 '122' '110' '90' '116' '174' '125' '?' '148' '100' '164' '139' '127'
 '162' '112' '134' '114' '128' '126' '124' '153' '166' '103' '156' '87'
 '102' '92' '99' '121' '91' '108' '96' '82' '105' '143' '119' '94']

 exercise_angina of the Hungarian dataset:
 ['0' '1' '?']

 ST_depression of the Hungarian dataset:
 [0.  1.  2.  1.5 0.5 3.  0.8 2.5 4.  5. ]

 slope_of_st of the Hungarian dataset:
 ['?' '2' '1' '3']

 vessels of the Hungarian dataset:
 ['?' '0']

 heart_disease of the Hungarian dataset:
 [0 1]

 thallium of the Hungarian dataset:
 ['?' '6' '3' '7']

### Switzerland Data

In [14]:
sf.columns

Index(['age', 'sex', 'chest_pain_type', 'resting blood pressure',
       'cholestoral', 'fasting_blood_sugar', 'ekg_results', 'max_hr',
       'exercise_angina', 'ST_depression', 'slope_of_st', 'vessels',
       'thallium', 'heart_disease'],
      dtype='object')

In [15]:
sf.shape

(123, 14)

In [16]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     123 non-null    int64
 1   sex                     123 non-null    int64
 2   chest_pain_type         123 non-null    int64
 3   resting blood pressure  123 non-null    object
 4   cholestoral             123 non-null    int64
 5   fasting_blood_sugar     123 non-null    object
 6   ekg_results             123 non-null    object
 7   max_hr                  123 non-null    object
 8   exercise_angina         123 non-null    object
 9   ST_depression           123 non-null    object
 10  slope_of_st             123 non-null    object
 11  vessels                 123 non-null    object
 12  thallium                123 non-null    object
 13  heart_disease           123 non-null    int64
dtypes: int64(5), object(9)
memory usage: 13.6+ KB

In [17]:
print("age of the Switzerland dataset:\n", sf['age'].unique())
print("\n sex of the Switzerland dataset:\n", sf['sex'].unique())
print("\n chest_pain_type of the Switzerland dataset:\n", sf['chest_pain_type'].unique())
print("\n resting blood pressure of the Switzerland dataset:\n", sf['resting blood pressure'].unique())
print("\n cholestoral of the Switzerland dataset:\n", sf['cholestoral'].unique())
print("\n fasting_blood_sugar of the Switzerland dataset:\n", sf['fasting_blood_sugar'].unique())
print("\n ekg_results of the Switzerland dataset:\n", sf['ekg_results'].unique())
print("\n max_hr of the Switzerland dataset:\n", sf['max_hr'].unique())
print("\n exercise_angina of the Switzerland dataset:\n", sf['exercise_angina'].unique())
print("\n ST_depression of the Switzerland dataset:\n", sf['ST_depression'].unique())
print("\n slope_of_st of the Switzerland dataset:\n", sf['slope_of_st'].unique())
print("\n vessels of the Switzerland dataset:\n", sf['vessels'].unique())
print("\n heart_disease of the Switzerland dataset:\n", sf['heart_disease'].unique())
print("\n thallium of the Switzerland dataset:\n", sf['thallium'].unique())

age of the Switzerland dataset:
 [32 34 35 36 38 40 41 42 43 45 46 47 48 50 51 52 53 54 55 56 57 58 59 60
 61 62 63 64 65 66 67 68 69 70 72 73 74]

 sex of the Switzerland dataset:
 [1 0]

 chest_pain_type of the Switzerland dataset:
 [1 4 3 2]

 resting blood pressure of the Switzerland dataset:
 ['95' '115' '?' '110' '105' '100' '135' '150' '125' '145' '140' '155'
 '160' '120' '130' '165' '80' '180' '170' '200' '185']

 cholestoral of the Switzerland dataset:
 [0]

 fasting_blood_sugar of the Switzerland dataset:
 ['?' '0' '1']

 ekg_results of the Switzerland dataset:
 ['0' '?' '1' '2']

 max_hr of the Switzerland dataset:
 ['127' '154' '130' '125' '166' '156' '179' '128' '150' '120' '144' '176'
 '99' '122' '145' '140' '138' '133' '113' '118' '149' '124' '110' '139'
 '92' '104' '170' '163' '60' '126' '82' '95' '115' '135' '141' '155' '83'
 '97' '98' '100' '148' '103' '121' '131' '182' '105' '175' '94' '119'
 '143' '63' '70' '77' '117' '123' '134' '72' '78' '109' '86' '114' '93'
 '67' '90' '108' '136' '?' '157']

 exercise_angina of the Switzerland dataset:
 ['0' '1' '?']

 ST_depression of the Switzerland dataset:
 ['.7' '.2' '?' '1' '2.8' '0' '-1.1' '1.6' '-1.5' '1.5' '2' '.5' '-.1'
 '-2.6' '2.1' '-.7' '2.2' '3' '.1' '.3' '-2' '-1' '1.8' '1.4' '2.6' '.9'
 '2.4' '1.1' '.4' '2.5' '1.7' '-.8' '-.5' '-.9' '3.7' '1.3']

 slope_of_st of the Switzerland dataset:
 ['1' '?' '2' '3']

 vessels of the Switzerland dataset:
 ['?' '1' '2']

 heart_disease of the Switzerland dataset:
 [1 3 2 0 4]

 thallium of the Switzerland dataset:
 ['?' '7' '6' '3']

### Cleaveland Data

In [18]:
cf.columns

Index(['age', 'sex', 'chest_pain_type', 'resting blood pressure',
       'cholestoral', 'fasting_blood_sugar', 'ekg_results', 'max_hr',
       'exercise_angina', 'ST_depression', 'slope_of_st', 'vessels',
       'thallium', 'heart_disease'],
      dtype='object')

In [19]:
cf.shape

(303, 14)

In [20]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     303 non-null    float64
 1   sex                     303 non-null    float64
 2   chest_pain_type         303 non-null    float64
 3   resting blood pressure  303 non-null    float64
 4   cholestoral             303 non-null    float64
 5   fasting_blood_sugar     303 non-null    float64
 6   ekg_results             303 non-null    float64
 7   max_hr                  303 non-null    float64
 8   exercise_angina         303 non-null    float64
 9   ST_depression           303 non-null    float64
 10  slope_of_st             303 non-null    float64
 11  vessels                 303 non-null    object
 12  thallium                303 non-null    object
 13  heart_disease           303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [21]:
print("age of the Cleaveland dataset:\n", cf['age'].unique())
print("\n sex of the Cleaveland dataset:\n", cf['sex'].unique())
print("\n chest_pain_type of the Cleaveland dataset:\n", cf['chest_pain_type'].unique())
print("\n resting blood pressure of the Cleaveland dataset:\n", cf['resting blood pressure'].unique())
print("\n cholestoral of the Cleaveland dataset:\n", cf['cholestoral'].unique())
print("\n fasting_blood_sugar of the Cleaveland dataset:\n", cf['fasting_blood_sugar'].unique())
print("\n ekg_results of the Cleaveland dataset:\n", cf['ekg_results'].unique())
print("\n max_hr of the Cleaveland dataset:\n", cf['max_hr'].unique())
print("\n exercise_angina of the Cleaveland dataset:\n", cf['exercise_angina'].unique())
print("\n ST_depression of the Cleaveland dataset:\n", cf['ST_depression'].unique())
print("\n slope_of_st of the Cleaveland dataset:\n", cf['slope_of_st'].unique())
print("\n vessels of the Cleaveland dataset:\n", cf['vessels'].unique())
print("\n heart_disease of the Cleaveland dataset:\n", cf['heart_disease'].unique())
print("\n thallium of the Cleaveland dataset:\n", cf['thallium'].unique())

age of the Cleaveland dataset:
 [63. 67. 37. 41. 56. 62. 57. 53. 44. 52. 48. 54. 49. 64. 58. 60. 50. 66.
 43. 40. 69. 59. 42. 55. 61. 65. 71. 51. 46. 45. 39. 68. 47. 34. 35. 29.
 70. 77. 38. 74. 76.]

 sex of the Cleaveland dataset:
 [1. 0.]

 chest_pain_type of the Cleaveland dataset:
 [1. 4. 3. 2.]

 resting blood pressure of the Cleaveland dataset:
 [145. 160. 120. 130. 140. 172. 150. 110. 132. 117. 135. 112. 105. 124.
 125. 142. 128. 170. 155. 104. 180. 138. 108. 134. 122. 115. 118. 100.
 200.  94. 165. 102. 152. 101. 126. 174. 148. 178. 158. 192. 129. 144.
 123. 136. 146. 106. 156. 154. 114. 164.]

 cholestoral of the Cleaveland dataset:
 [233. 286. 229. 250. 204. 236. 268. 354. 254. 203. 192. 294. 256. 263.
 199. 168. 239. 275. 266. 211. 283. 284. 224. 206. 219. 340. 226. 247.
 167. 230. 335. 234. 177. 276. 353. 243. 225. 302. 212. 330. 175. 417.
 197. 198. 290. 253. 172. 273. 213. 305. 216. 304. 188. 282. 185. 232.
 326. 231. 269. 267. 248. 360. 258. 308. 245. 270. 208. 264. 321. 274.
 325. 235. 257. 164. 141. 252. 255. 201. 222. 260. 182. 303. 265. 309.
 307. 249. 186. 341. 183. 407. 217. 288. 220. 209. 227. 261. 174. 281.
 221. 205. 240. 289. 318. 298. 564. 246. 322. 299. 300. 293. 277. 214.
 207. 223. 160. 394. 184. 315. 409. 244. 195. 196. 126. 313. 259. 200.
 262. 215. 228. 193. 271. 210. 327. 149. 295. 306. 178. 237. 218. 242.
 319. 166. 180. 311. 278. 342. 169. 187. 157. 176. 241. 131.]

 fasting_blood_sugar of the Cleaveland dataset:
 [1. 0.]

 ekg_results of the Cleaveland dataset:
 [2. 0. 1.]

 max_hr of the Cleaveland dataset:
 [150. 108. 129. 187. 172. 178. 160. 163. 147. 155. 148. 153. 142. 173.
 162. 174. 168. 139. 171. 144. 132. 158. 114. 151. 161. 179. 120. 112.
 137. 157. 169. 165. 123. 128. 152. 140. 188. 109. 125. 131. 170. 113.
  99. 177. 141. 180. 111. 143. 182. 156. 115. 149. 145. 146. 175. 186.
 185. 159. 130. 190. 136.  97. 127. 154. 133. 126. 202. 103. 166. 164.
 184. 124. 122.  96. 138.  88. 105. 194. 195. 106. 167.  95. 192. 117.
 121. 116.  71. 118. 181. 134.  90.]

 exercise_angina of the Cleaveland dataset:
 [0. 1.]

 ST_depression of the Cleaveland dataset:
 [2.3 1.5 2.6 3.5 1.4 0.8 3.6 0.6 3.1 0.4 1.3 0.  0.5 1.6 1.  1.2 0.2 1.8
 3.2 2.4 2.  2.5 2.2 2.8 3.  3.4 6.2 4.  5.6 2.9 0.1 2.1 1.9 4.2 0.9 1.1
 3.8 0.7 0.3 4.4]

 slope_of_st of the Cleaveland dataset:
 [3. 2. 1.]

 vessels of the Cleaveland dataset:
 ['0.0' '3.0' '2.0' '1.0' '?']

 heart_disease of the Cleaveland dataset:
 [0 2 1 3 4]

 thallium of the Cleaveland dataset:
 ['6.0' '3.0' '7.0' '?']

### Based on observations from all the three datasets:
1. Some datatypes are improperly assigned.
2. Some columns had special characters like '?', which needs to be removed.

#### Removal of special characters from the datasets and replacing with null values

Cleaveland data

In [22]:
cf['vessels'] = cf['vessels'].replace('?',np.nan) 
cf['thallium'] = cf['thallium'].replace('?',np.nan)

In [23]:
cf.isna().sum()

age                       0
sex                       0
chest_pain_type           0
resting blood pressure    0
cholestoral               0
fasting_blood_sugar       0
ekg_results               0
max_hr                    0
exercise_angina           0
ST_depression             0
slope_of_st               0
vessels                   4
thallium                  2
heart_disease             0
dtype: int64

Hungarian data

In [24]:
hf['fasting_blood_sugar'] = hf['fasting_blood_sugar'].replace('?',np.nan) 
hf['ekg_results'] = hf['ekg_results'].replace('?',np.nan) 
hf['exercise_angina'] = hf['exercise_angina'].replace('?',np.nan) 
hf['slope_of_st'] = hf['slope_of_st'].replace('?',np.nan) 
hf['vessels'] = hf['vessels'].replace('?',np.nan) 
hf['thallium'] = hf['thallium'].replace('?',np.nan) 
hf['resting blood pressure'] = hf['resting blood pressure'].replace('?',np.nan)
hf['max_hr'] = hf['max_hr'].replace('?',np.nan) 
hf['ST_depression'] = hf['ST_depression'].replace('?',np.nan) 
hf['cholestoral'] = hf['cholestoral'].replace('?',np.nan)

Switzerland data

In [25]:
sf['fasting_blood_sugar'] = sf['fasting_blood_sugar'].replace('?',np.nan) 
sf['ekg_results'] = sf['ekg_results'].replace('?',np.nan) 
sf['exercise_angina'] = sf['exercise_angina'].replace('?',np.nan) 
sf['slope_of_st'] = sf['slope_of_st'].replace('?',np.nan) 
sf['vessels'] = sf['vessels'].replace('?',np.nan) 
sf['thallium'] = sf['thallium'].replace('?',np.nan) 
sf['resting blood pressure'] = sf['resting blood pressure'].replace('?',np.nan)
sf['max_hr'] = sf['max_hr'].replace('?',np.nan) 
sf['ST_depression'] = sf['ST_depression'].replace('?',np.nan)

In [26]:
sf.isna().sum()

age                         0
sex                         0
chest_pain_type             0
resting blood pressure      2
cholestoral                 0
fasting_blood_sugar        75
ekg_results                 1
max_hr                      1
exercise_angina             1
ST_depression               6
slope_of_st                17
vessels                   118
thallium                   52
heart_disease               0
dtype: int64

In [27]:
cf = cf.apply(pd.to_numeric)
print(cf.dtypes)

age                       float64
sex                       float64
chest_pain_type           float64
resting blood pressure    float64
cholestoral               float64
fasting_blood_sugar       float64
ekg_results               float64
max_hr                    float64
exercise_angina           float64
ST_depression             float64
slope_of_st               float64
vessels                   float64
thallium                  float64
heart_disease               int64
dtype: object

In [28]:
sf = cf.apply(pd.to_numeric)
print(sf.dtypes)

age                       float64
sex                       float64
chest_pain_type           float64
resting blood pressure    float64
cholestoral               float64
fasting_blood_sugar       float64
ekg_results               float64
max_hr                    float64
exercise_angina           float64
ST_depression             float64
slope_of_st               float64
vessels                   float64
thallium                  float64
heart_disease               int64
dtype: object

In [29]:
hf = hf.apply(pd.to_numeric)
hf[['age','sex','chest_pain_type']] = hf[['age','sex','chest_pain_type']].astype(float)
print(hf.dtypes)

age                       float64
sex                       float64
chest_pain_type           float64
resting blood pressure    float64
cholestoral               float64
fasting_blood_sugar       float64
ekg_results               float64
max_hr                    float64
exercise_angina           float64
ST_depression             float64
slope_of_st               float64
vessels                   float64
thallium                  float64
heart_disease               int64
dtype: object

In [30]:
df_heart = pd.concat([cf,sf,hf],ignore_index = True)
df_heart.shape

(900, 14)

In [31]:
df_heart.head()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [32]:
df_heart.tail()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
895,52.0,1.0,4.0,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
896,54.0,0.0,3.0,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
897,56.0,1.0,4.0,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
898,58.0,0.0,2.0,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
899,65.0,1.0,4.0,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [33]:
df_heart.describe()

,age,sex,chest_pain_type,resting blood pressure,cholestoral,fasting_blood_sugar,ekg_results,max_hr,exercise_angina,ST_depression,slope_of_st,vessels,thallium,heart_disease
count,900.000000,900.000000,900.000000,899.000000,877.000000,892.000000,899.000000,899.000000,899.000000,900.000000,710.000000,601.000000,630.000000,900.000000
mean,52.278889,0.694444,3.101111,131.981090,247.977195,0.123318,0.738598,146.192436,0.319244,0.891444,1.643662,0.668885,4.774603,0.748889
std,9.187274,0.460898,0.964209,17.593868,57.122890,0.328987,0.930533,23.601784,0.466443,1.104589,0.592438,0.935511,1.932894,1.078276
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,45.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,130.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,53.000000,1.000000,3.000000,130.000000,242.000000,0.000000,0.000000,150.000000,0.000000,0.500000,2.000000,0.000000,3.000000,0.000000
75%,59.000000,1.000000,4.000000,140.000000,277.000000,0.000000,2.000000,163.000000,1.000000,1.500000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [34]:
df_heart.isna().sum()

age                         0
sex                         0
chest_pain_type             0
resting blood pressure      1
cholestoral                23
fasting_blood_sugar         8
ekg_results                 1
max_hr                      1
exercise_angina             1
ST_depression               0
slope_of_st               190
vessels                   299
thallium                  270
heart_disease               0
dtype: int64

In [35]:
#Missing values
df_heart.isna().sum()

age                         0
sex                         0
chest_pain_type             0
resting blood pressure      1
cholestoral                23
fasting_blood_sugar         8
ekg_results                 1
max_hr                      1
exercise_angina             1
ST_depression               0
slope_of_st               190
vessels                   299
thallium                  270
heart_disease               0
dtype: int64

In [36]:
def Missing_values(df):
    #Finding null values from the dataframe
    null_values = df.isnull().sum().sort_values(ascending=False)
    #Finding null values percentage from the dataframe
    null_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    #concating across columns
    null_values = pd.concat([null_values, null_percent], axis=1, keys=['Missing_values', '% Missing_values'])
    return null_values

Missing_values(df_heart)

                        Missing_values  % Missing_values
vessels                            299          0.332222
thallium                           270          0.300000
slope_of_st                        190          0.211111
cholestoral                         23          0.025556
fasting_blood_sugar                  8          0.008889
resting blood pressure               1          0.001111
ekg_results                          1          0.001111
max_hr                               1          0.001111
exercise_angina                      1          0.001111
age                                  0          0.000000
sex                                  0          0.000000
chest_pain_type                      0          0.000000
ST_depression                        0          0.000000
heart_disease                        0          0.000000

In [37]:
df_heart['heart_disease'].value_counts()

0    516
1    216
2     72
3     70
4     26
Name: heart_disease, dtype: int64

In [38]:
pd.DataFrame(df_heart.groupby(['vessels','heart_disease'])['heart_disease'].count())

                       heart_disease
vessels heart_disease
0.0     0                        262
        1                         53
        2                         18
        3                         16
        4                          6
1.0     0                         42
        1                         38
        2                         28
        3                         16
        4                          6
2.0     0                         14
        1                         12
        2                         18
        3                         28
        4                          4
3.0     0                          6
        1                          6
        2                          8
        3                         10
        4                         10

In [39]:
pd.DataFrame(df_heart.groupby(['thallium','heart_disease'])['heart_disease'].count())

                        heart_disease
thallium heart_disease
3.0      0                        265
         1                         44
         2                         14
         3                         12
         4                          4
6.0      0                         16
         1                         12
         2                         12
         3                          2
         4                          4
7.0      0                         60
         1                         67
         2                         44
         3                         56
         4                         18

In [40]:
pd.DataFrame(df_heart.groupby(['slope_of_st','heart_disease'])['heart_disease'].count())

                           heart_disease
slope_of_st heart_disease
1.0         0                        224
            1                         44
            2                         14
            3                         12
            4                          2
2.0         0                        117
            1                        134
            2                         52
            3                         48
            4                         20
3.0         0                         18
            1                          5
            2                          6
            3                         10
            4                          4

In [41]:
pd.DataFrame(df_heart.groupby(['fasting_blood_sugar','heart_disease'])['heart_disease'].count())

                                   heart_disease
fasting_blood_sugar heart_disease
0.0                 0                        457
                    1                        193
                    2                         54
                    3                         54
                    4                         24
1.0                 0                         53
                    1                         21
                    2                         18
                    3                         16
                    4                          2

In [42]:
pd.DataFrame(df_heart.groupby(['exercise_angina','heart_disease'])['heart_disease'].count())

                               heart_disease
exercise_angina heart_disease
0.0             0                        450
                1                         96
                2                         28
                3                         24
                4                         14
1.0             0                         65
                1                        120
                2                         44
                3                         46
                4                         12

In [43]:
pd.DataFrame(df_heart.groupby(['ekg_results','heart_disease'])['heart_disease'].count())

                           heart_disease
ekg_results heart_disease
0.0         0                        340
            1                        131
            2                         38
            3                         24
            4                          4
1.0         0                         35
            1                         19
            2                          2
            3                          2
            4                          2
2.0         0                        141
            1                         65
            2                         32
            3                         44
            4                         20

In [44]:
pd.DataFrame(df_heart.groupby(['exercise_angina','heart_disease'])['heart_disease'].count())

                               heart_disease
exercise_angina heart_disease
0.0             0                        450
                1                         96
                2                         28
                3                         24
                4                         14
1.0             0                         65
                1                        120
                2                         44
                3                         46
                4                         12

In [45]:
df_heart['vessels']=df_heart['vessels'].fillna(value='0.0')
df_heart['thallium']=df_heart['thallium'].fillna(value='3.0')
df_heart['slope_of_st']=df_heart['slope_of_st'].fillna(value='1.0')
df_heart['fasting_blood_sugar']=df_heart['fasting_blood_sugar'].fillna(value='0.0')
df_heart['ekg_results']=df_heart['ekg_results'].fillna(value='0.0')
df_heart['exercise_angina']=df_heart['exercise_angina'].fillna(value='0.0')

In [46]:
df_heart.isna().sum()

age                        0
sex                        0
chest_pain_type            0
resting blood pressure     1
cholestoral               23
fasting_blood_sugar        0
ekg_results                0
max_hr                     1
exercise_angina            0
ST_depression              0
slope_of_st                0
vessels                    0
thallium                   0
heart_disease              0
dtype: int64

In [47]:
df_heart.to_csv('uci_heart_data.csv')